# ------------------------------
# IDE Specific
# ------------------------------
.idea/
*.iml
*.ipr
*.iws
.shelf/
workspace.xml
.classpath
.project
.settings/

# ------------------------------
# Build
# ------------------------------
/target/
/build/
/out/

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Environment & Security
# ------------------------------
application-*.yml
application-*.properties
*.env
